<% content_for :title do %>
   User New!
<% end %>


<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<form action="" method="">
	<input type="text" name="name" >
	<input type="submit" value="submit" >
</form>