<% content_for :title do %>
   Post New!
<% end %>

<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<form action="" method="">
	<input type="text" name="title" >
	<input type="submit" name="submit" >
</form>